<h1>ViewComponent Preview</h1>
<h2>HealthGoals::BadgeComponent</h2>
<%= render(HealthGoals::BadgeComponent.new(name: "Health goal (size :full)", size: :full)) %>
<%= render(HealthGoals::BadgeComponent.new(name: "Health goal (size :md)", size: :md, css_class: "ml-2")) %>
<%= render(HealthGoals::BadgeComponent.new(name: "Health goal (size :sm)", size: :sm, css_class: "ml-2")) %>
<p>
  <h2>HealthConditions::BadgeComponent</h2>
  <%= render(HealthConditions::BadgeComponent.new(name: "Health condition (size :full)", size: :full)) %>
  <%= render(HealthConditions::BadgeComponent.new(name: "Health condition (size :md)", size: :md, css_class: "ml-2")) %>
  <%= render(HealthConditions::BadgeComponent.new(name: "Health condition (size :sm)", size: :sm, css_class: "ml-2")) %>
</p>
<p>
  <h2>FoodQualifiers::BadgeComponent</h2>
  <%= render(FoodQualifiers::BadgeComponent.new(name: "Food qualifier (size :full)", size: :full)) %>
  <%= render(FoodQualifiers::BadgeComponent.new(name: "Food qualifier (size :md)", size: :md, css_class: "ml-2")) %>
  <%= render(FoodQualifiers::BadgeComponent.new(name: "Food qualifier (size :sm)", size: :sm, css_class: "ml-2")) %>
</p>
<p>
  <h2>Icons::CloseComponent</h2>
  <% [
       ["text-amber-400", "text-amber-600"],
       ["text-blue-400", "text-blue-600"],
       ["text-green-400", "text-green-600"],
       ["text-red-400", "text-red-600"],
       ["text-violet-400", "text-violet-600"]
    ].each_with_index do |colors| %>
    <p class="<%= colors[0] %> hover:<%= colors[1] %>">
      Wrapped in a div specifying text and hover colors (<%= colors[0] %>, <%= colors[1] %>)
      <%= render(Icons::CloseComponent.new) %>
    </p>
  <% end %>
</p>
<p>
  <h2>all_flash_messages/flash_message_tag helpers</h2>
  <%
  %i[alert error info success notice success warning unknown].each do |type|
    flash[type] = "flash[:#{type}] message!"
  end
  %>
  <div id="flash-messages">
    <% all_flash_messages.each do |message_data| %>
      <%= flash_message_tag(message_data[:type], message_data[:message]) %>
    <% end %>
  </div>
</p>
<p>
  <h2>Grids::HeaderComponent</h2>
  <%= render(Grids::HeaderComponent.new(columns: [:name, :qualifiers, actions: {css_class: "text-right" }])) %>
</p>
