<ul role="list">
  <% health_goals.each_with_index do |health_goal, index| %>
    <li class="relative px-4 py-3 sm:px-6 grid grid-cols-2 gap-4 <%= grid_alternate_row_color(index) %>">
      <div class="text-sm font-semibold text-gray-900">
        <%= health_goal.health_goal_name %>
      </div>
      <div class="text-right flex justify-end gap-2">
        <%= link_to "Show", health_goal_path(health_goal), class: "show-button-sm" %>
        <%= link_to "Edit", edit_health_goal_path(health_goal), class: "edit-button-sm" %>
        <%= button_to "Delete", health_goal_path(health_goal),
              method: :delete,
              class: "delete-button-sm",
              form: { data: { turbo_confirm: "Are you sure?" } } %>
      </div>
    </li>
  <% end %>
</ul>
