<div id="<%= dom_id user_stat %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Birthday:</strong>
    <%= user_stat.birthday %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sex:</strong>
    <%= user_stat.sex %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Height:</strong>
    <%= user_stat.height %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Muscle fat analysis weight:</strong>
    <%= user_stat.muscle_fat_analysis_weight %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Muscle fat analysis skeletal muscle mass:</strong>
    <%= user_stat.muscle_fat_analysis_skeletal_muscle_mass %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Muscle fat analysis body fat mass:</strong>
    <%= user_stat.muscle_fat_analysis_body_fat_mass %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Muscle fat analysis cid:</strong>
    <%= user_stat.muscle_fat_analysis_cid %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Obesity analysis bmi:</strong>
    <%= user_stat.obesity_analysis_bmi %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Obesity analysis percent body fat:</strong>
    <%= user_stat.obesity_analysis_percent_body_fat %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Abdominal obesity analysis waist hip ratio:</strong>
    <%= user_stat.abdominal_obesity_analysis_waist_hip_ratio %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Abdominal obesity analysis visceral fat level:</strong>
    <%= user_stat.abdominal_obesity_analysis_visceral_fat_level %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Comprehensive analysis basal metabolic rate:</strong>
    <%= user_stat.comprehensive_analysis_basal_metabolic_rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body balance evaluation upper lower:</strong>
    <%= user_stat.body_balance_evaluation_upper_lower %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Body composition analysis soft lean mass:</strong>
    <%= user_stat.body_composition_analysis_soft_lean_mass %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= user_stat.user_id %>
  </div>
</div>
