<% content_for :title, "Select Health Conditions" %>
<% if turbo_frame_request? && params[:frame_id] == "conditions_list" %>
  <%= turbo_frame_tag "conditions_list" do %>
    <%= render "user_health_conditions/conditions_list", health_conditions: @health_conditions %>
  <% end %>
<% elsif turbo_frame_request? && params[:frame_id] == "modal" %>
  <%= render "multiple_conditions_modal", health_conditions: @health_conditions %>
<% else %>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-10">
    <div class="md:flex md:items-center md:justify-between mb-6">
      <div class="min-w-0 flex-1">
        <h2>Select Health Conditions</h2>
      </div>
      <div class="mt-4 flex md:ml-4 md:mt-0">
        <%= link_to "Back to My Health Conditions", user_health_conditions_path,
            class: "inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
      </div>
    </div>
    <%= render "multiple_conditions_modal", health_conditions: @health_conditions %>
  </div>
<% end %>
