<ul role="list">
  <% user_foods.each_with_index do |user_food, index| %>
    <li id="food-id-<%= user_food.food.id %>" class="relative px-4 py-3 sm:px-6 grid grid-cols-3 gap-4 <%= index.odd? ? 'bg-gray-50' : 'bg-white' %> hover:bg-gray-100">
      <div class="text-sm font-semibold text-gray-900">
        <%= user_food.food.food_name %>
      </div>
      <div>
        <%= render partial: "user_foods/list/row_food_qualifiers", locals: { food: user_food.food } %>
      </div>
      <div class="text-right">
        <%= button_to user_food_path(user_food),
                  method: :delete,
                  class: "delete-button-sm",
                  form: { data: { turbo_confirm: "Are you sure you want to remove this food?" } } do %>
          Delete
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
