<nav class="bg-gray-800 w-full block">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <div class="flex shrink-0 items-center">
          <%= link_to root_path, class: "flex items-center" do %>
            <%= render partial: "shared/site_name" %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="hidden md:ml-6 md:flex md:items-center md:space-x-4">
            <%= link_to "My Foods", user_foods_path, class: nav_link_class(current_page?(user_foods_path)) %>
            <%= link_to "My Health Conditions", user_health_conditions_path, class: nav_link_class(current_page?(user_health_conditions_path)) %>
            <%= link_to "My Health Goals", user_health_goals_path, class: nav_link_class(current_page?(user_health_goals_path)) %>
            <%= link_to "Foods", foods_path, class: nav_link_class(current_page?(foods_path)) %>
            <%= link_to "Food Qualifiers", food_qualifiers_path, class: nav_link_class(current_page?(food_qualifiers_path)) %>
            <%= link_to "Health Conditions", health_conditions_path, class: nav_link_class(current_page?(health_conditions_path)) %>
            <%= link_to "Health Goals", health_goals_path, class: nav_link_class(current_page?(health_goals_path)) %>
          </div>
        <% end %>
      </div>
      <div class="flex items-center">
        <div class="hidden md:ml-4 md:flex md:shrink-0 md:items-center">
          <!-- Profile dropdown -->
          <% if user_signed_in? %>
            <div class="relative ml-3">
              <%= link_to "Logout",
                    destroy_user_session_path,
                    class: "relative inline-flex items-center gap-x-1.5 rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500",
                    data: {
                      turbo_method: :delete,
                      confirm: "Are you sure?",
                      turbo_confirm: "Are you sure?"
                    } %>
              <%= link_to "Profile",
                    edit_user_registration_path,
                    class: "relative inline-flex items-center gap-x-1.5 rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500",
                    data: {
                      action: "nav-bar#navigate"
                    } %>
            </div>
          <% else %>
            <div class="shrink-0">
              <%= link_to "Login", new_user_session_path, class: "relative inline-flex items-center gap-x-1.5 rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
