<% content_for :title, "Food Qualifiers" %>
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-10">
  <%= turbo_frame_tag "flash_messages" do %>
    <%= render "shared/flash_messages" %>
  <% end %>
  <div class="md:flex md:items-center md:justify-between mb-6">
    <div class="min-w-0 flex-1">
      <h2>Food Qualifiers</h2>
    </div>
    <div class="mt-4 flex md:ml-4 md:mt-0">
      <%= render partial: "shared/links/add_new_link",
          locals: {
            link_path: new_food_qualifier_path,
            link_text: "Add New Food Qualifier"
          } %>
    </div>
  </div>
  <%= turbo_frame_tag "main_content" do %>
    <%= render "food_qualifiers/list/list", food_qualifiers: @food_qualifiers %>
  <% end %>
</div>
