<%= form_with(model: health_goal, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :health_goal_name %>
    <%= form.text_field :health_goal_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <%= render partial: "shared/maximum_characters", locals: { max_characters: 64, model: HealthGoal } %>
  </div>
  <%= render partial: "shared/forms/form_buttons", locals: {
    form: form,
    resource: health_goal,
    back_path: health_goals_path
  } %>
<% end %>
