<% content_for :title, "Health Goals" %>
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-10">
  <%= turbo_frame_tag "flash_messages" do %>
    <%= render "shared/flash_messages" %>
  <% end %>
  <div class="md:flex md:items-center md:justify-between mb-6">
    <div class="min-w-0 flex-1">
      <h2>Health Goals</h2>
    </div>
    <div class="mt-4 flex md:ml-4 md:mt-0">
      <%= link_to new_health_goal_path, class: "inline-flex items-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" do %>
        <%= render partial: "shared/icons/plus_sign" %>
        Add New Health Goal
      <% end %>
    </div>
  </div>
  <div class="bg-white shadow-md ring-1 ring-gray-900/5 rounded-xl overflow-hidden">
    <% if @health_goals.any? %>
      <div class="divide-y divide-gray-100">
        <!-- Table header -->
        <%= render(Grids::HeaderComponent.new(columns: ["health goal name", actions: { css_class: "text-right" }])) %>
        <!-- Table rows -->
        <ul role="list">
          <% @health_goals.each_with_index do |health_goal, index| %>
            <li class="relative px-4 py-3 sm:px-6 grid grid-cols-2 gap-4 <%= index.odd? ? 'bg-gray-50' : 'bg-white' %> hover:bg-gray-100">
              <div>
                <%= render(HealthGoals::BadgeComponent.new(name: health_goal.health_goal_name, size: :md)) %>
              </div>
              <div class="text-right flex justify-end gap-2">
                <%= link_to "Show", health_goal_path(health_goal), class: "rounded-lg py-2 px-4 text-gray-700 bg-gray-200 hover:bg-gray-300 font-medium" %>
                <%= link_to "Edit", edit_health_goal_path(health_goal), class: "rounded-lg py-2 px-4 text-gray-700 bg-gray-200 hover:bg-gray-300 font-medium" %>
                <%= button_to "Delete", health_goal_path(health_goal),
                    method: :delete,
                    class: "rounded-lg py-2 px-4 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer",
                    form: { data: { turbo_confirm: "Are you sure?" } } %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <div class="px-6 py-10 text-center text-gray-500">
        <div class="flex items-center justify-center">
          <%= render "shared/icons/smiley", size_class: "h-24 w-24", mouth_type: :frown %>
        </div>
        <h3 class="mt-2 text-sm font-semibold text-gray-900">No health goals added yet</h3>
        <p class="mt-1 text-sm text-gray-500">Get started by adding health goals to your list.</p>
        <div class="mt-6">
          <%= link_to new_health_goal_path,
              class: "inline-flex items-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600" do %>
            <%= render partial: "shared/icons/plus_sign" %>
            Add New Health Goal
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= turbo_frame_tag "modal" %>
</div>
