<% content_for :title, "Showing health goal" %>
<div class="mx-auto md:w-2/3 w-full">
  <%= render "shared/flash_messages" %>
  <%= render @health_goal %>
  <div class="button-group-container">
    <%= link_to "Edit this health goal", edit_health_goal_path(@health_goal), class: "edit-button" %>
    <%= link_to "Back to health goals", health_goals_path, class: "back-button" %>
    <%= button_to "Delete this health goal", @health_goal,
      method: :delete,
      class: "delete-button",
      form_class: "w-full md:w-auto",
      form: { data: { turbo: false } },
      data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
