<%= form_with(model: food, class: "contents") do |form| %>
  <%= render "shared/active_record_errors", resource: food %>
  <div class="my-5">
    <%= form.label :food_name, "Food name", class: "block font-medium text-gray-700 mb-1" %>
    <%= form.text_field :food_name,
                  maxlength: 64,
                  required: true,
                  placeholder: "Enter food name",
                  autocomplete: "off" %>
    <%= render partial: "shared/maximum_characters", locals: { max_characters: 64, model: Food, css_class: "text-xs" } %>
  </div>
  <%= render partial: "shared/forms/form_buttons", locals: {
    form: form,
    resource: food,
    back_path: foods_path
  } %>
<% end %>
