<div id="food_qualifiers" class="food-qualifiers">
  <h3 class="food-qualifiers-title">Qualifiers</h3>

  <%= render "qualifier_list", food: @food %>

  <h4 class="food-qualifiers-subtitle">Add a Qualifier</h4>

  <%= render "add_existing_qualifier_form", food: @food, available_qualifiers: @available_qualifiers %>

  <div class="food-qualifiers-section">
    <h5 class="food-qualifiers-section-title">
      <%= @available_qualifiers.any? ? "Or create a new qualifier:" : "Create a new qualifier:" %>
    </h5>

    <div id="errorMessage" class="food-qualifier-error hidden"></div>

    <%= turbo_frame_tag "new_qualifier" do %>
      <%= form_with url: find_or_create_food_qualifiers_path, method: :post, class: "food-qualifier-form" do |form| %>
        <%= form.text_field :qualifier_name,
                          class: "food-qualifier-input",
                          placeholder: "Enter a new qualifier name",
                          required: true %>
        <%= form.submit "Create & Add", class: "food-qualifier-submit" %>
        <%= form.hidden_field :food_id, value: @food.id %>
      <% end %>
    <% end %>
  </div>
</div>
