<% content_for :title, "Foods" %>
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-10">
  <%= turbo_frame_tag "flash_messages" do %>
    <%= render "shared/flash_messages" %>
  <% end %>
  <div class="md:flex md:items-center md:justify-between mb-6">
    <div class="min-w-0 flex-1">
      <h2>Foods</h2>
    </div>
    <div class="mt-4 flex md:ml-4 md:mt-0">
      <%= link_to new_food_path, class: "add-new-button" do %>
        <%= render partial: "shared/icons/plus_sign" %>
        Add New Food
      <% end %>
    </div>
  </div>
  <!-- Single content frame -->
  <%= turbo_frame_tag "main_content" do %>
    <%= render "foods/list/list", foods: @foods %>
  <% end %>
</div>
