<%#
  Card component based on Catalyst's design
  Usage:
    render "components/cards/card",
          title: "Card Title",
          subtitle: "Optional subtitle",
          footer: "Optional footer",
          class: "additional-classes" do
      <p>Card content goes here</p>
    end

  Parameters:
    title: String - The card's title (optional)
    subtitle: String - A subtitle displayed below the title (optional)
    footer: String - Content displayed in the card's footer (optional)
    class: String - Additional CSS classes to apply to the card (optional)
    block: Block - The main content of the card
%>

<div class="overflow-hidden rounded-lg bg-white shadow ring-1 ring-black ring-opacity-5 <%= local_assigns[:class] %>">
  <% if local_assigns[:title].present? || local_assigns[:subtitle].present? %>
    <div class="px-4 py-5 sm:p-6">
      <% if local_assigns[:title].present? %>
        <h3 class="text-base font-semibold leading-6 text-gray-900"><%= title %></h3>
      <% end %>

      <% if local_assigns[:subtitle].present? %>
        <div class="mt-2 max-w-xl text-sm text-gray-500">
          <p><%= subtitle %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="px-4 py-5 sm:p-6">
    <%= yield %>
  </div>

  <% if local_assigns[:footer].present? %>
    <div class="bg-gray-50 px-4 py-4 sm:px-6">
      <div class="text-sm text-gray-500">
        <%= footer %>
      </div>
    </div>
  <% end %>
</div>
